RewriteEngine  on

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

# redirect all requests to non-existing resources to special handler
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-dWWW
RewriteRule ^(.+)$ /pandoracode-phoenix/core/app.php?params=$1 [L,NC]